<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Workday</title>
    <style>
        table{

        th{

    </style>
</head>
<body>
      {% extends 'base.html'%}
       {% block content %}
       <table>
           <head>
               <tr>
                   <th>
                       #
                   </th>
                   <th>
                       Week
                   </th>
                   <th>
                       Day
                   </th>
                   <th>
                       Time
                   </th>



               </tr>
           </head>
       </table>
       {% endblock  content %}
</body>
</html>